body {
    height: auto;

    .main-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        max-width: 55rem;

        .medium.header {
            margin-top: 10rem;
        }

        div {
            margin: 0.6rem;
        }

        .field {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .fields {
            border: 0.0714rem dashed #c5c5c5;
            border-radius: 1.3571rem;
            margin: 1rem;
            text-align: center;
            word-wrap: break-word;
        }

        .results {
            display: none;
            margin-bottom: 10rem;

            .result {
                display: inline;
                margin: 0;
            }
        }
    }
}
